<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <display-name>MRONGlineview</display-name>
    <welcome-file-list>
      <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <!-- 字符编码过滤器 -->
    <filter>
      <filter-name>CharacterEncodingFilter</filter-name>
      <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
      <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
      </init-param>
  </filter>
  <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/</url-pattern>
  </filter-mapping>
 <!-- 定义【全站中文】过滤器 -->
    <filter>
        <!-- 定义过滤器 -->
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <filter-class>com.mrong.lineview.util.SetCharacterEncodingFilter</filter-class>
        <!--  配置初始化参数，也可以不配，默认UTF-8 -->
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <!-- 过滤器资源映射 -->
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- struts2过滤器启动 -->
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>struts-default.xml,struts-plugin.xml,conf/struts.xml</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- 配置spring的配置文件的位置 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:conf/applicationContext*.xml</param-value>
    </context-param>
    <!-- 配置spring的监听器 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- 页面跳转配置 -->
    <!-- smart_packaging.jsp页面跳转 -->
    <servlet>
        <servlet-name>jump_main_page</servlet-name>
        <jsp-file>/WEB-INF/operator/smart_packaging.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>jump_main_page</servlet-name>
        <url-pattern>/smart_packaging.jsp</url-pattern>
    </servlet-mapping>
    <!-- to_now.jsp嵌套页面跳转 -->
    <servlet>
        <servlet-name>jump_tonow_page</servlet-name>
        <jsp-file>/WEB-INF/operator/to_now.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>jump_tonow_page</servlet-name>
        <url-pattern>/to_now.jsp</url-pattern>
    </servlet-mapping>
    <!-- page_fromto.jsp嵌套页面跳转 -->
    <servlet>
    <servlet-name>jump_pagefromto_page</servlet-name>
        <jsp-file>/WEB-INF/operator/from_to.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>jump_pagefromto_page</servlet-name>
        <url-pattern>/from_to.jsp</url-pattern>
    </servlet-mapping>
    <!-- page_header.jsp嵌套页面跳转 -->
    <servlet>
        <servlet-name>jump_pageheader_page</servlet-name>
        <jsp-file>/WEB-INF/operator/page_header.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>jump_pageheader_page</servlet-name>
        <url-pattern>/page_header.jsp</url-pattern>
    </servlet-mapping>
    <!-- page_left.jsp嵌套页面跳转 -->
    <servlet>
        <servlet-name>jump_pageleft_page</servlet-name>
        <jsp-file>/WEB-INF/operator/page_left.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>jump_pageleft_page</servlet-name>
        <url-pattern>/page_left.jsp</url-pattern>
    </servlet-mapping>
    <!-- page_tool_file.jsp嵌套页面跳转 -->
    <servlet>
        <servlet-name>jump_pagetoolfile_page</servlet-name>
        <jsp-file>/WEB-INF/operator/page_tool_file.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>jump_pagetoolfile_page</servlet-name>
        <url-pattern>/page_tool_file.jsp</url-pattern>
    </servlet-mapping>
    <!-- page_main_tool.jsp嵌套页面跳转 -->
    <servlet>
        <servlet-name>jump_pagemaintool_page</servlet-name>
        <jsp-file>/WEB-INF/operator/page_main_tool.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>jump_pagemaintool_page</servlet-name>
        <url-pattern>/page_main_tool.jsp</url-pattern>
    </servlet-mapping>
    <!-- show_all_breakdown.jsp页面跳转 -->
    <servlet>
        <servlet-name>jump_showallbreakdown_page</servlet-name>
        <jsp-file>/WEB-INF/operator/show_all_breakdown.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>jump_showallbreakdown_page</servlet-name>
        <url-pattern>/show_all_breakdown.jsp</url-pattern>
    </servlet-mapping>
</web-app>