@charset "utf-8";
/* CSS Document */
#goodcover {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 133%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: 0.50;
	filter: alpha(opacity = 80);
}

#code {
	width: 600px;
	height: 400px;
	background-color: #fff;
	padding: 10px;
	position: absolute;
	display: none;
	left: 45%;
	z-index: 1002;
}

.close1 {
	float:right;
	width: 300px;
	height: 60px;
}

#closebt {
	float: right;
}

#closebt img {
	width: 20px;
}

.goodtxt {
	text-align: center;
}

.goodtxt p {
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #000;
	font-weight: 600;
}

.code-img {
	width: 250px;
	margin: 30px auto 0 auto;
	padding: 10px;
}

.code-img img {
	width: 240px;
}
/*--------------------------------------------------------*/
#goodcoverMo {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 133%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: 0.50;
	filter: alpha(opacity = 80);
}

#codeMo {
	width: 600px;
	height: 400px;
	background-color: #fff;
	padding: 10px;
	position: absolute;
	display: none;
	left: 45%;
	z-index: 1002;
}

.close1Mo {
	float:right;
	width: 300px;
	height: 60px;
}

#closebtMo {
	float: right;
}

#closebtMo img {
	width: 20px;
}

.goodtxtMo {
	text-align: center;
}

.goodtxtMo p {
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #000;
	font-weight: 600;
}

.code-imgMo {
	width: 250px;
	margin: 30px auto 0 auto;
	padding: 10px;
}

.code-imgMo img {
	width: 240px;
}
/*------------------------------------------------------*/
#goodcoverTime {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 133%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: 0.50;
	filter: alpha(opacity = 80);
}

#codeTime {
	width: 600px;
	height: 400px;
	background-color: #fff;
	padding: 10px;
	position: absolute;
	display: none;
	left: 45%;
	z-index: 1002;
}

.close1Time {
	float:right;
	width: 300px;
	height: 60px;
}

#closebtTime {
	float: right;
}

#closebtTime img {
	width: 20px;
}

.goodtxtTime {
	text-align: center;
}

.goodtxtTime p {
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #000;
	font-weight: 600;
}

.code-imgTime {
	width: 250px;
	margin: 30px auto 0 auto;
	padding: 10px;
}

.code-imgTime img {
	width: 240px;
}