<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

    <bean id="lossOfSpeedDao" class="com.mrong.lineview.admin.dao.impl.LossOfSpeedDaoImpl"></bean>

    <!-- 因果损失报表 -->
    <bean id="causalLossService" class="com.mrong.lineview.admin.service.impl.CausalLossServiceImpl">
        <property name="lossOfSpeedDao" ref="lossOfSpeedDao"></property>
    </bean>
    <bean id="causalLossAction" class="com.mrong.lineview.admin.action.CausalLossAction">
        <property name="causalLossService" ref="causalLossService"></property>
    </bean>

    <!-- 计划停机报表 -->
    <bean id="scheduledDownTimeService" class="com.mrong.lineview.admin.service.impl.ScheduledDownTimeServiceImpl">
        <property name="lossOfSpeedDao" ref="lossOfSpeedDao"></property>
    </bean>
    <bean id="scheduledDownTimeAction" class="com.mrong.lineview.admin.action.ScheduledDownTimeAction">
        <property name="scheduledDownTimeService" ref="scheduledDownTimeService"></property>
    </bean>

    <!-- 速度损失报表 -->
    <bean id="speedLossAreaService" class="com.mrong.lineview.admin.service.impl.SpeedLossAreaServiceImpl">
        <property name="lossOfSpeedDao" ref="lossOfSpeedDao"></property>
    </bean>
    <bean id="speedLossAreaAction" class="com.mrong.lineview.admin.action.SpeedLossAreaAction">
        <property name="speedLossAreaService" ref="speedLossAreaService"></property>
    </bean>

    <!-- 六大损失分解报表 -->
    <bean id="lossDecompositionService" class="com.mrong.lineview.admin.service.impl.LossDecompositionServiceImpl">
        <property name="lossOfSpeedDao" ref="lossOfSpeedDao"></property>
    </bean>
    <bean id="lossDecompositionAction" class="com.mrong.lineview.admin.action.LossDecompositionAction">
        <property name="lossDecompositionService" ref="lossDecompositionService"></property>
        <property name="speedLossAreaService" ref="speedLossAreaService"></property>
    </bean>

    <!-- 绩效曲线报表 -->
    <bean id="performanceCurveDao" class="com.mrong.lineview.admin.dao.impl.PerformanceCurveDaoImpl"></bean>
    <bean id="performanceCurveService" class="com.mrong.lineview.admin.service.impl.PerformanceCurveServiceImpl">
        <property name="lossOfSpeedDao" ref="lossOfSpeedDao"></property>
        <property name="performanceCurveDao" ref="performanceCurveDao"></property>
    </bean>
    <bean id="performanceCurveAction" class="com.mrong.lineview.admin.action.PerformanceCurveAction">
        <property name="performanceCurveService" ref="performanceCurveService"></property>
    </bean>

</beans>